* {
  margin: 0;
  padding: 0;
}

.body {
  background-color: #1c1a19;
}

.owner {
  margin-top: 3%;
  font-size: 9px;
  margin-left: 5%;
  margin-right: 1%;
  color: #fff;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: roboto;
}

.nav-text {
  display: flex;
  color: white;
  background-color: #3e3c3c;
  padding-bottom: 2%;
}

.nav-information {
  list-style: none;
  display: grid;
  margin-top: 2%;
}

.edit-me {
  margin-left: 15%;
}

.fa-envelope {
  margin-left: 15%;
}

.edit-icon {
  color: white;
  margin-left: 30%;
  margin-top: 3%;
}

.spce-icon {
  padding-right: 5%;
}

.edit-image {
  margin-left: 68%;
  margin-top: 3%;
}

.edit-text {
  color: white;
}

.about-me {
  color: white;
  margin-right: 9%;
  margin-left: 5%;
  margin-top: 42%;
}

.togerther {
  display: flex;
}

.color {
  color: #ff6b00;
}

.margin {
  margin-bottom: 3%;
}

.font1 {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-weight: 400;
  font-size: 191%;
}

.font2 {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: Roboto;
  font-size: 100%;
}

.font3 {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: Poppins;
  font-size: 80%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.click {
  font-size: 23px;
  cursor: pointer;
  margin-left: 47%;
}
