/* stylelint-disable font-family-no-missing-generic-family-keyword */
* {
  margin: 0;
  padding: 0;
}

.body {
  background-color: #1c1a19;
}

.owner {
  margin-top: 6%;
  font-size: 12px;
  margin-left: 7%;
  margin-right: -2%;
  color: #fff;
  font-family: Roboto;
}

.edit-icon {
  color: white;
  margin-left: 6%;
  margin-top: 3%;
}

.spce-icon {
  padding-right: 5%;
}

.edit-image {
  margin: -6% 0% 0% 55%;
}

.about-me {
  color: white;
  margin-right: 9%;
  margin-left: 5%;
  margin-top: 30%;
}

.color {
  color: #ff6b00;
}

.margin {
  margin-bottom: 3%;
}

.font1 {
  font-size: 235%;
  /* stylelint-disable-next-line font-family-name-quotes */
  font-family: Crete Round;
  font-weight: 100;
}

.font2 {
  font-family: Roboto;
  font-size: 133%;
}

.font3 {
  font-family: Poppins;
  font-size: 94%;
}

.click {
  font-size: 16px;
  cursor: pointer;
  margin-left: 66%;
  color: #fff;
  margin-top: 3%;
}

.first-color {
  display: flex;
  background-color: #3e3c3c;
  padding-bottom: 3%;
}
